 * {
     margin: 0;
     padding: 0;
 }

 .navigation {
     margin-top: 25px;
     font-family: var(--font1);
     height: 74px;
     /* background-color: red; */
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav-left {
     font-size: 35px;
     display: flex;
 }

 .nav-left span {
     font-size: 35px;
     padding-top: 10px;
 }

 .nav-left ul {
     display: flex;
     align-items: center;
     margin: 0 77px;
     font-size: 22px;
 }

 .nav-left ul li {
     font-size: 26px;
     list-style: none;
     margin: 0 14px;
     font-family: var(--font2);
 }

 .nav-left ul li a {
     text-decoration: none;
     color: black;
 }

 .nav-left ul li a:hover {
     color: var(--main-bg-color);
     font-weight: bolder;
 }

 .content {
     height: 395px;
     background-color: hwb(216 93% 5%);
     display: flex;
     margin-top: 32px;
     padding: 9px;
 }

 .content-left {
     font-family: var(--font1);
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .content-right {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .content-right img {
     height: 355px;
     border: 2px solid black;
     border-radius: 200px;
 }

 .home-articles {
     background-color: aqua;
     padding-top: 12px;
     padding-left: 18px;
     margin-top: 23px;
     position: relative;
     /*background-color: red;*/
 }

 .year-box{
    position:absolute;
    width: 234px;
    height: 255px;
    right: 200px;
    top: 100px;
    font-size: 20px;

 }

 .year-box div{
    margin: 5px 0;
 }

 .home-article {
     display: flex;
     margin: 25px;
 }

 .home-article img {
     width: 300px;
 }

 .home-article-content {
     align-self: center;
     padding: 25px;
 }

 .home-article-content a {
     text-decoration: none;
     color: black;
 }

 .footer {
     height: 50px;
     background-color: var(--main-bg-color);
     display: flex;
     align-items: center;
     justify-content: center;
     color: hsl(0, 27%, 96%);
     flex-direction: column;
 }